
  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>We offer   <em>three services</em> to enhance your knowledge of Ansys Fluent</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">lorem</span>
            <h4>Wiki</h4>
            <div class="icon">
              <img src="assets/images/wiki.gif" alt="">
            </div>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, veritatis placeat nesciunt at quo fugiat, corrupti sunt soluta consectetur ipsam voluptas nobis, alias ea labore beatae aut delectus id mollitia.</li>
            </ul>
            <div class="border-button">
              <a routerLink="/consulterwiki">Bibliothèque de Savoir</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            <span class="price">lorem</span>
            <h4>Forum</h4>
            <div class="icon">
              <img src="assets/images/forum.gif" alt="">
            </div>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ratione ut quos deleniti? Voluptate officiis sunt totam cum facere molestias ut non reprehenderit quisquam. Neque est suscipit libero vitae quis.</li>
            
            </ul>
            <div class="border-button">
              <a href="#">Communauté et Dialogue</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">lorem</span>
            <h4>ChatBot</h4>
            <div class="icon">
              <img src="assets/images/chatbot.gif" alt="">
            </div>
            <ul>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eligendi libero omnis enim soluta exercitationem sint officia quos quaerat dolorum repudiandae doloribus explicabo non, similique perspiciatis cumque dolor adipisci? Fugit.</li>
            </ul>
            <div class="border-button">
              <a href="#">Assistance Instantanée</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
<br>
<br>
<br>