.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
.btn{

  border-radius: 25px;


 }
 .btn-show-answers{
  background-color: var(--primary-color);
 }
 .btn-add-answer{
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);

 }
 .button-edit{
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
 }
 .rounded-card {
  border-radius: 20px;
}
