.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
h3{
  color: var(--secondary-color);
}
.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
.btn{

  border-radius: 25px;
 background-color: var(--primary-color);
 width:  30%;


 }
.back-icon{
  color: var(--primary-color);
}
.anonymous-on {
  background-color: var(--primary-color); /* Change color for "on" state */
}

.anonymous-off {
  color: red; /* Change color for "off" state */
}

/* Define animation keyframes */
@keyframes switch-on {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(16px); /* Adjust the distance of the animation */
  }
}

@keyframes switch-off {
  0% {
    transform: translateX(16px); /* Adjust the distance of the animation */
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply animation to label */
.anonymous-on:before {
  content: "ON";
  position: absolute;
  right: 25px; /* Adjust position of the label */
  animation: switch-on 0.5s ease forwards;
  background-color: var(--primary-color);
}

.anonymous-off:before {
  content: "OFF";
  position: absolute;
  left: 25px; /* Adjust position of the label */
  animation: switch-off 0.5s ease forwards;
}
/* Styles for the checkbox */
.form-check-input:checked + .form-check-label {
  color: var(--primary-color); /* Change color for "on" state */

}

.form-check-input:not(:checked) + .form-check-label {
  color: red; /* Change color for "off" state */
}
form-check-input{
  padding: 2px;
  margin-left: 2px;

}



